* {
    margin 0;
    padding: 0;
}


div {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
        height:100px;
    width: auto;
}

img : hover {
    transform: rotate(45deg);
}
